.bodyWrapper {
    display: flex;
    flex-direction: column;
}

.bodyWrapper main {
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}