/* colors theme {
  --gray-50: "#f8fafc"
  --gray-500: "#64748b"
  --gray-800: "#1e293b";
  --brand-600: "#4f46e5"
  --brand-400: "#818cf8"
} */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, serif;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}